{namespace tpl}
/**
 * 短链接模板
 * @param sub_data
 */
{template .dimimg}
	{if isNonnull($sub_data['src'])}
	<div class="dimimg">
		<div class="dimimg-table">
		<a data-img="{$sub_data['src']}">{$sub_data['text']}</a>
		</div>
	</div>
	{/if}
{/template}