{namespace tpl.common}
/**
 * 短链接模板
 * @param sub_data
 */
{template .cardTitle}
    <div class="saCardTitle">
    	<i class="bdline"></i>
    	<a class="cardTitleText">{$sub_data['title']}</a>
    </div>
{/template}